<aside class="sidebar" [class.sidebar--mobile]="isMobile" [class.sidebar--open]="isOpen">
  <div class="sidebar__header">
    <div class="sidebar__logo">
      <mat-icon class="sidebar__logo-icon">account_balance</mat-icon>
      <span class="sidebar__logo-text">BancoApp</span>
    </div>
  </div>

  <nav class="sidebar__nav">
    <mat-list class="sidebar__menu">
      <mat-list-item
        *ngFor="let item of menuItems"
        [routerLink]="item.route"
        routerLinkActive="sidebar__item--active"
        class="sidebar__item"
        (click)="onMenuClick(item.id)">
        <mat-icon class="sidebar__item-icon">{{item.icon}}</mat-icon>
        <span class="sidebar__item-text">{{item.label}}</span>
      </mat-list-item>
    </mat-list>
  </nav>
</aside>

<!-- Mobile overlay -->
<div
  *ngIf="isMobile && isOpen"
  class="sidebar__overlay"
  (click)="onClose()">
</div>
